*, *::after, *::before {
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}

html, body {
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
}

.mainContent{
    display: flex ;
    justify-content: center;
    margin: 20px 30px 0px;
    justify-content: space-around;
}

.gridContainer{
    border:solid 0.5px #AAAAAA;
    box-shadow: 0px 0px 1px rgb(46, 46, 46);
    display: inline-grid;
    grid-gap: 1px;
    background-color: #AAAAAA;
}
#canvasGrid{
    min-width: 460px;
    min-height: 460px;
    max-height: 460px;
}
#colorPalette{
    width: auto;
    height: 200px;
}

#canvasGrid div {
    background-color: #ffffff;
}
.mainContent > .container{
    margin: 0 10px;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-flow: column wrap;
}

.bottomButton{
    margin: 20px;
    display:flex;
    justify-content: center;
}

footer{
    background-color: #1F2937;
    color: #fff;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

ul{
    padding: 0;
    display: flex;
    gap: 16px;
    list-style-type: none;
    flex-flow: row wrap;
    justify-content: center;
}

ul button{
    flex:auto;
}

.bottomButton{
    display:flex;
    flex:auto;
}
#reset{
    width: 10rem;
}

#customSize{
    display: flex;
    flex-direction: column;
}
#customSize div{
    display: flex;
    flex-direction: column;
}